{% extends 'base.html' %}
{% block content %}
    <form style="font-size: 14px" method="post" action="{% url 'createquestion' %}">
        {% csrf_token %}
        <input type="hidden" id="hidden_paper_id" name="hidden_paper_id">
        <input type="hidden" id="total" name="total">
        <label>Paper Name</label>
        <div style="margin-bottom: 15px">

            <select name="paper_name" id="paper_name" onchange="select_paper()" class="form-control">
                <option value="-1">------</option>
                {% for item in paper_list %}
                    <option value={{item.paper_id}}>{{item.paper_name}}</option>
                {% endfor %}
            </select>
        </div>

        <label for="date" class="text-right control-label col-form-label">Date</label>
        <div class="" style="margin-bottom: 15px">
            <input type="text" name="unit" class="form-control" id="date" disabled>
        </div>

        <label for="start_time" class=" text-right control-label col-form-label">Start Time</label>
        <div class="" style="margin-bottom: 15px">
            <input type="text" name="unit" class="form-control" id="start_time"  disabled>
        </div>

        <label for="end_time" class=" text-right control-label col-form-label">End Time</label>
        <div class="" style="margin-bottom: 15px">
            <input type="text" name="unit" class="form-control" id="end_time"  disabled>
        </div>

        <hr>

        <label for="question" class=" text-right control-label col-form-label">Question</label>
        <div class="" style="margin-bottom: 15px">
            <input type="text" name="unit" class="form-control" id="question" >
        </div>

        <div class="form-inline">
          <div class="form-group mx-sm-6 mb-4">
            <label for="answer" class="sr-only">Answer</label>
            <input type="text" class="form-control" id="answer" placeholder="Answer here">
          </div>

            <div class="form-group mx-sm-3 mb-2 form-check">
                <input type="checkbox" class="form-check-input" id="correct">
                <label class="form-check-label" for="correct">Correct Answer</label>
              </div>
          <button onclick="add_answer()" type="button" class="btn btn-primary mb-2">Add Answer</button>
        </div>
        <br>
        <table id="answerTable" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
                <th scope="col">Answer</th>
                <th scope="col">Correct</th>
<!--                <th scope="col">Action</th>-->
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}